$white: #ffff;
$lightblue: #2C83D1;
$blueshadow: rgb(153, 200, 241);
$darkBlack: #0B0B0B;
$darkgrey: #3C3939;
$lightgrey: #F8F8F8;
$layer: rgba(32, 36, 43, 0.781);

$mainFont: 'Open Sans', sans-serif;
$secondFont: 'Open Sans', sans-serif;

$backgroundImage: url("/images/header.jpg") no-repeat fixed;
$pageWidth: 70%;
