/* START VARIABLES */
@import "variables";
/* END VARIABLES */

/* START GLOBAL */
body {
  min-height: 100%;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: $mainFont;
  background-color: #ffff;
}

.container {
  height: 100%;
  max-width: 1600px;
  margin: auto;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
/* END GLOBAL */


/* START NAV */
.navbar-container {
  width: $pageWidth;
  margin: auto;
}

nav {
  background-color: transparent;
  transition: background-color 0.5s;
  position: fixed;
  width: 100%;
  z-index: 9999;
  img {
    float: left;
  }
  ul {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 75px;
    text-align: right;
    li {
      height: 75px;
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      a {
        color: #ffff;
        font-size: 1em;
        transition: color 0.5s;
        &:hover {
          color: $lightblue;
        }
      }
    }
    .logo {
      float: left;
      font-family: $secondFont;
      text-transform: uppercase;
      font-size: 1.2em;
    }
  }
}

.nav-alt {
  background-color: #ffff;
  box-shadow: 0 3px 10px -5px #333;
  ul li a {
    color: $darkgrey;
    transition: color 0.5s;
  }
}

.nav-link {
  padding: 10px;
}

.nav-item .active{
  width: 75px;
  background-color: $lightblue;
  color: white;
  text-align: center;
  background-size: 200% 200%;
  transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
  background-image: linear-gradient(to top, #3395ED 50%, transparent 50%);
  padding: 10px;
  &:hover{
    background-position: 0 100%;
  }
}

.scroll-indicator-alt {
  width: 0%;
  height: 80px;
  background: linear-gradient(transparent 75px, $lightblue 10px);
  position: fixed;
  z-index: 999;
}
/* END NAV */

/* START HEADER */
header {
  height: 100vh;
  background: $backgroundImage;
  background-size: calc(100% + 200px);
  margin-bottom: 0px;
  padding: 0px;
}

.header-layer {
  height: 100%;
  background-color: $layer;
  width: 100%;
  z-index: 9999;
}

.header-container {
  display: flex;
  position: relative;
  width: $pageWidth;
  height: 100%;
  margin: 0 auto;
  h1 {
    position: absolute;
    margin: auto;
    color: #ffff;
    position: absolute;
    bottom: 30%;
    right: 0;
    text-align: right;
    text-transform: uppercase;
  }
  span {
    display: block;
  }
}

.name {
  font-size: 2.2em;
  font-weight: 900;
  color: #ffff;
  font-family: $secondFont;
}

.occupation {
  font-size: 0.8em;
  font-weight: 600;
  color: #ffff;
  font-family: $secondFont;
}

.quote {
  color: $lightblue;
  font-size: 0.8em;
  font-weight: 600;
  font-family: $secondFont;
}

.case-btn {
  display: inline-block;
  margin: 10px 0px 10px 0px;
  padding: 10px 15px 10px 15px;
  color: #ffff;
  font-size: 0.5em;
  background-color: $lightblue;
  font-weight: 100;
  background-size: 200% 200%;
  transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
  background-image: linear-gradient(to top, #3395ED 50%, transparent 50%);
  &:hover {
    background-position: 0 100%;
  }
}
/* END HEADER */

/* START SECTION GLOBAL */
.title-block {
  width: 100%;
}

section {
  min-height: 300px;
  min-width: 100%;
}

.section-title {
  padding-top: 85px;
  display: flex;
  h2 {
    text-transform: uppercase;
    margin: auto;
    color: $darkgrey;
    font-size: 3em;
    font-weight: 100;
    border-bottom: 2.5px solid $darkgrey;
  }
}

.whitespace {
  padding-top: 50px;
}
/* END SECTION GLOBAL */

/* CASES START */
.cases-container {
  width: $pageWidth;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cases-block {
  flex-basis: 48%;
  box-sizing: border-box;
  h5 {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 100;
    margin: 10px 0px 10px 0px;
    font-family: $secondFont;
  }
  .cases-desc span {
    font-size: 1.1em;
    color: #8594AB;
    // visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in-out;
    display: block;
    margin: 10px 0px 10px 0px;
  }
  figure {
    margin: 0px;
    overflow: hidden;
    display: flex;
    img {
      object-fit: cover;
    }
  }
}

.cases-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    + .cases-desc span, .view-btn {
      visibility: visible;
      opacity: 1;
    }
  }
}

.view-btn {
  // visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  position: absolute;
  margin: auto;
  display: inline-block;
  padding: 15px 50px 15px 50px;
  font-size: 1.2em;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  pointer-events: none;
}

.cases-block figure {
  position: relative;
  background: $lightblue;
  img {
    opacity: 1;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  &:hover img {
    opacity: 0;
  }
  &::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 99;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  &:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}


@keyframes shine {
  100% {
    left: 125%;
  }
}

.cases-block:nth-child(even) figure img {
  height: 450px;
}

.cases-block:nth-child(odd) figure img {
  height: 350px;
}

.cases-block:nth-child(odd){
  margin-top: 50px;
}

.cases-block figure:hover img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.divider-container {
  width: $pageWidth;
  margin: auto;
  width: 100%;
  margin-bottom: 50px;
}

.divider-block {
  background: $backgroundImage;
  background-size: cover;
  height: 150px;
}

.divider-layer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $layer;
  transition: background-color 1000ms;
  h3 {
    margin: auto;
    color: #ffff;
    font-size: 2.5em;
    font-weight: 100;
  }
}

.changing {
  color: $lightblue;
  font-weight: 100;
  font-family: $secondFont;
  text-transform: uppercase;
}

/* CASES END */

/* SERVICES START */
.services-container {
  width: $pageWidth;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-block {
  flex-basis: 24%;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
  min-height: 300px;
  background-color: white;
  .fas{
    color: $lightblue;
  }
  h3{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 100;
    color: $lightblue;
  }
  .icon{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 99;
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 80px;
      transition: 0.5s;
      color: #fff;
    }
  }
  &:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
  }
  &:hover .icon i{
    font-size: 40px;
  }
  .content{
    position: absolute;
    top: 75%;
    padding: 20px;
    height: calc(100% - 75px);
    box-sizing: border-box;
    transition: 0.5s;
  }
  &:hover .content{
    top: 75px;
  }
}
.services-block:nth-child(1) .icon{
  background-color: #1C953F;
}
.services-block:nth-child(2) .icon{
  background-color: #1C7B95;
}
.services-block:nth-child(3) .icon{
  background-color: #811C95;
}
.services-block:nth-child(4) .icon{
  background-color: #951C44;
}
/* SERVICES END */

/* ABOUT START */
.about-container {
  width: $pageWidth;
  margin: auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-block{
  flex-basis: 49.5%;
  box-sizing: border-box;
  p{
    margin-bottom: 15px;
  }
}

.quote-block{
  flex-basis: 100%;
  box-sizing: border-box;
  min-height: 20px;
  h3 {
    display: block;
    margin: 0px;
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    height: 100%;
    text-align: center;
  }
}

.photo-stack {
  position: relative;
  margin: auto;
  width: 300px;
  height: 325px;
  z-index: 99;
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  }
}

.photo-stack img:nth-child(1) {
  z-index: 99;
}
.photo-stack img:nth-child(2) {
  transform: rotate(5deg);
}
.photo-stack img:nth-child(3) {
  transform: rotate(10deg);
}

.mark {
  color: $lightblue;
  font-weight: 900;
}
/* ABOUT END */

/*CONTACT START */
.contact-container {
  width: $pageWidth;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .contact-block {
    flex-basis: 100%;
    box-sizing: border-box;
    min-height: 200px;
    text-align: center;
    i{
      background-color: $lightblue;
      color: $white;
      font-size: 40px;
      padding: 17.5px;
      margin: 10px;
      background-size: 200% 200%;
      transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
      &:hover{
        background-position: 0 100%;
      }
    }
    a:nth-child(1) i{ 
      background-image: linear-gradient(to top, #0077B5 50%, transparent 50%);
    }
    a:nth-child(2) i{
      background-image: linear-gradient(to top, #1C7B95 50%, transparent 50%);
    }
    a:nth-child(3) i{
      background-image: linear-gradient(to top, #811C95 50%, transparent 50%);
    }
    a:nth-child(4) i{
      background-image: linear-gradient(to top, #ea4c89 50%, transparent 50%);
    }
    h3{
      font-size: 1.5em;
      font-weight: 100;
      text-transform: uppercase;
    }
  }
}
/* CONTACT END */

/* START FOOTER*/
footer {
  background-color: $darkBlack;
  color: #ffff;
}

.footer-container {
  width: $pageWidth;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-block {
  flex-basis: 33%;
  box-sizing: border-box;
  min-height: 250px;
  .nav-link {
    padding: 0px;
  }
}

footer {
  ul {
    padding: 0px;
    li {
      list-style-type: none;
      padding-top: 10px;
      a {
        color: #ffff;
        transition: color 0.5s;
        &:hover {
          color: $lightblue;
        }
      }
    }
  } 
  .copyright {
    padding-bottom: 20px;
    text-align: center;
  }
  h4 {
    color: $lightblue;
  }
  .mark{
    color: $lightblue;
  }
}
/* END FOOTER*/

/* START TIMELINE */
.timeline-container {
  width: $pageWidth;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.timeline-block {
  flex-basis: 100%;
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: $lightgrey;
  }
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style-type: none;
      position: relative;
      width: 50%;
      box-sizing: border-box;
      .content {
        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        .description{
          padding: 20px;
        }
        img{
          height: 200px;
          object-fit: cover;
        }
      }      
      h3, h5 {
        margin: 0px;
        padding: 0px;
        font-weight: 300;
        color: $lightblue;
      }
      p {
        margin: 10px 0 0;
        padding: 0px;
      }
      .time h4 {
        margin: 0px;
        padding: 0px;
        font-weight: 100;
        text-transform: uppercase;
      }
      &:nth-child(odd) .time {
        position: absolute;
        top: 12px;
        right: -180px;
        margin: 0;
        padding: 8px 16px;
        background-color: $lightblue;
        color: white;
      }
      &:nth-child(even) .time {
        position: absolute;
        top: 12px;
        left: -180px;
        margin: 0;
        padding: 8px 16px;
        background-color: $lightblue;
        color: white;
      }
      &:nth-child(odd) {
        text-align: right;
        clear: both;
      }
      &:nth-child(even) {
        float: right;
        text-align: left;
      }
    }
  }
}

.timeline ul li {
  &:nth-child(odd){
    padding: 20px 40px 20px 0px;
  }
  &:nth-child(odd):before {
    content: '';
    position: absolute;
    border-radius: 50%;
    right: -6px;
    top: 24px;
    width: 10px;
    height: 10px;
    background: $lightblue;
    box-shadow: 0 0 0 3px #99c8f1;
  }
  &:nth-child(even){
    padding: 20px 0px 20px 40px;
  }
  &:nth-child(even):before {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: -4px;
    top: 24px;
    width: 10px;
    height: 10px;
    background: $lightblue;
    box-shadow: 0 0 0 3px #99c8f1;
  }
}
/* END TIMELINE*/

/* START PROJECT */
.project-container {
  width: $pageWidth;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* END PROJECT*/

/* DASHBOARD START*/

.dashboard-bg{
  background: linear-gradient(to bottom, 
  $darkblue 200px, #F2F2F2 0%);
  height: 100vh;
}

.dashboard-container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .dashboard-block{
    flex-basis: 100%;
    box-sizing: border-box;
    margin-left: 225px;
    h2{
      color: white;
      margin: 0px;
      font-weight: 100;
      font-size: 1.7em;
      padding: 25px 0px 25px 0px;
    }
  }
    table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        text-align: left;
        margin: 25px 0px 25px 0px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.16);
        thead{
          background-color: white;
        }
        tbody{
          background-color: white;
        }
        th{
            border-spacing: 0;
            border-collapse: collapse;;
            font-weight: 100;
            padding: 20px;
            font-weight: 600;
            color: $darkblue;
        }
        td{
          padding: 20px;
          border-top: 1px solid #F0F0F0;
          color: #3C3939; 
        }
    }
}

#sidenav{
  height: 100%;
  width: 225px;
  position: fixed;
  z-index: 1;
  background-color: white;
  box-shadow: -2px 0 5px 0 #555;
  .sidenav-header{
    background-color: $darkblue;
    text-align: center;
    img{
      margin: 25px 0px 25px 0px;
    }
  }
  ul {
    margin: 50px 0px 0px 0px;
    padding-left: 25px;
    list-style-type: none;
    height: 100vh;
    li {
      margin-bottom: 25px;
      a {
        color: #3C3939;
        font-size: 1.1em;
        font-weight: 100;
        transition: color 0.5s;
        margin-left: 15px;
        &:hover {
          color: $darkblue;
        }
      }
      i{
        margin-right: 10px;
      }
    }
    h3{
      color: $darkblue;
    }
  }
}

.form-container{
  background-color: white;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.16);
  .form-block{
      margin-bottom: 25px;
      .form-control{
          box-sizing: border-box;
          display: block;
          width: 100%;
          padding: 10px;
          margin-top: 10px;
          color: #8a8282;
          // background: #F9F9F9; 
          border:1px solid #ccc;
      }
      .select2-container--default .select2-selection--multiple{
        border-radius: 0px;
        margin-top: 10px;
        color: #8a8282;
        border:1px solid #ccc;
      }
      #cover-preview{
        display: block;
        margin-top: 10px;
      }
  }
}

.error{
  display: block;
  margin-top: 5px;
  color: #b41e35;
}

.alert{
  text-align: center;
  width: 100%;
  z-index: 10;
  position: fixed;
  padding: 10px;
  color: white;
}

.alert-success{
  background-color: #0F8738
}

.alert-danger{
  background-color: #b41e35;
}

.pagination-container{
  text-align: center;
  margin-bottom: 20px;
  ul{
    margin: 0px 0px 20px 0px;
    padding: 0px;
    list-style-type: none;
    li{
      display: inline-flex;
      background-color: $white;
      a{
        color: $darkBlack;
        padding: 15px 20px 15px 20px;
      }
    }
    .active{
      background-color: $darkblue;
      a{
        text-align: center;
        color: $white;
      }
    }
  }
}

.btn-custom{
  width: 60px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn-view{
  background-color:#8A1476;
}

.btn-create, .btn-add{
  background-color: #239C15;
}

.btn-edit{
  background-color:#B46E1E;
}

.btn-delete, .btn-cancel{
  background-color:#b41e35;
}

/* DASHBOARD END */


/* BLOG START -cleanup css...-*/
.post-container {
  width: $pageWidth;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  &::after{
    content: "";
    flex-basis: 32%;
  }
    .posts-block {
      flex-basis: 32%;
      box-sizing: border-box;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
      margin-bottom: 25px;
      &:hover .thumbnail i{
        display: block;
      }
      h5{
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 100;
        margin: 10px 0px 10px 0px;
        font-family: "Open Sans", sans-serif;
        color: $lightblue;
      }
      p{
        font-size: 1.1em;
        color: #8594AB;
      }
      .thumbnail{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          height: 300px;
          object-fit: cover;
        }
        i{
          display: none;
          z-index: 10;
          position: absolute;
          font-size: 80px;
          color: white;
        }
      }
      .description{
        padding: 15px;
        .date{
          display: block;
          margin-top: 10px;
          color: $lightblue;
        }
      }
      .tags{
        color: $white;
        padding: 0px 15px 15px 15px;
        .tag{
          display: inline-block;
          font-size: 12px;
          padding: 7.5px;
          margin-bottom: 5px;
          min-width: 50px;
          text-align: center;
        }
      }
  }
}

/* BLOG END */

/* RESPONSIVE START */
@media screen and (max-width: 1440px) {
  .navbar-container, .cases-container, .about-container, .services-container, .timeline-container, .contact-container, .footer-container {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-container, .cases-container, .about-container, .services-container, .timeline-container, .contact-container, .footer-container {
    width: 90%;
  }
  header{
    background-size: cover;
  }
  .divider-container {
    display: none;
  }
  .cases-block {
    flex-basis: 49%;
    margin-bottom: 1%;
  }
  .services-block{
    flex-basis: 49%;
    margin-bottom: 20px;
  }
  .about-block{
    flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {
  nav ul li {
    display: none;
  }
  .cases-block {
    flex-basis: 100%;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 640px) {
  .cases-block, .services-block {
    flex-basis: 100%;
  }
  .footer-block {
    flex-basis: 100%;
    min-height: 50px;
  }
  .header-container h1 {
    font-size: 20px;
  }
  .timeline {
    width: 100%;
    padding-bottom: 0px;
    &:before {
      left: 20px;
    }
    ul li {
      &:nth-child(odd), &:nth-child(even) {
        width: 100%;
        text-align: left;
        padding: 20px 0px 50px 50px;
      }
      &:nth-child(odd):before, &:nth-child(even):before {
        top: -18px;
        left: 16px;
      }
      &:nth-child(odd) .time, &:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
      }
    }
  }
}

/* RESPONSIVE END */